body {
  margin: 0;
  font-family: sans-serif;
  background-color: #3f2c1c;
  color: black;
}

.title {
  text-align: center;
  margin-top: 30px;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  color: white;
  font-weight: bold;
  font-family: monospace;
}

.scoreboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 60px 80px;
  max-width: 1600px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 80vh;
}

.score-box {
  position: relative;
  background-color: #f5e8d2;
  background-image: url("/static/Akshardham.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  min-height: 260px;
  font-size: 2rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 20px;
  overflow: hidden;
}

.score-box .score {
  position: relative;
  top: -10px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin: 0;
  z-index: 1;
}

.score-box h2 {
  position: absolute;
  bottom: 12px;
  margin: 0;
  font-size: 1.5rem;
  color: white;
  z-index: 1;
}


.score.animate {
  animation: bounce 0.4s ease;
}

@keyframes bounce {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.3); }
  100% { transform: scale(1); }
}
